{% extends "layout.html" %}
{% block content %}

<style>
  div.item {
      vertical-align: top;
      display: inline-block;
      text-align: center;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .caption {
      display: block;
  }
  .footer {
      bottom: 0;
      width: 100%;
      padding-top: 50px;
  }

  .footer img {
      width: 100px; /* Adjust size as necessary */
      margin: 0 15px;
  }
</style>

  <div class="container mt-4">

    <div class="card text-dark bg-light shadow-lg bg-body rounded">
      <div class="card-header" id="cardHeader">
        GdbMTB
      </div>
      <div class="card-body row ml-2">
        <div class="col-md-9">
          <p>
          With the increasing research interets on magnetotactic bacteria diversity, the genome data of MTB continues to grow. 
          </p>
          <p>In order to promote data sharing and facilitate comprehensive analysis, we have established the 
          <span class="text-decoration-underline fw-bold">G</span>enomic <span class="text-decoration-underline fw-bold">d</span>ata<span class="text-decoration-underline fw-bold">b</span>ase of <span class="text-decoration-underline fw-bold">M</span>agneto<span class="text-decoration-underline fw-bold">t</span>actic <span class="text-decoration-underline fw-bold">B</span>acteria, <span class="fw-bold">GdbMTB</span>. 
          </p>
          <p>
          GdbMTB includes three parts: key (<span class="fw-bold">primary</span>) data, analysis (<span class="fw-bold">secondary</span>) data, and technical support (<span class="fw-bold">analysis tools and methods</span>). 
          </p>
          <p>
          The key data include publicly published magnetotactic bacteria genome 
          data, sampling metadata, magnetosome gene data, etc. The analysis data includes basic analysis information such as the quality, phylogenetic classification, and living environment of the MTB. Technical support provides related methods, tools and processes 
          for the genomics analysis of MTB (such as MagCluster).
          </p>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <img src="/static/brand/logo.png" alt="" style="height: 150px; width: auto;">
        </div>
      </div>
    </div>

    <div class="card text-dark bg-light shadow-lg bg-body rounded mt-4">
      <div class="card-header" id="cardHeader">
        Bio-Geomagnetism group
      </div>
      <div class="card-body">
        <div class="row" style="margin-left:20px">
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Ji.jpg" class="rounded-circle" alt="">
              <a class='caption' href="https://github.com/runjiaji"> Runjia Ji</a>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Wei.jpg" class="rounded-circle" alt="" >
              <a class='caption' href="http://sourcedb.igg.cas.cn/cn/zjrck/201303/t20130321_3802371.html"> Wei Lin</a>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Pan.jpg" class="rounded-circle" alt="" >
              <a class='caption' href="http://sourcedb.igg.cas.cn/cn/zjrck/200907/t20090713_2065518.html">Yongxin Pan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="logo-container mt-40">
      <img src="/static/team/1.jpg" class="img-fluid" alt="...">
      <img src="/static/team/2.png" class="img-fluid" alt="...">
      <img src="/static/team/3.png" class="img-fluid" alt="...">
      <img src="/static/team/4.png" class="img-fluid" alt="...">
      <p class="text-center text-muted">August 2024</p>
  </div> -->

  <footer class="footer text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="/static/team/1.gif" alt="Logo 1">
            </div>
            <div class="col-auto">
                <img src="/static/team/2.png" alt="Logo 2">
            </div>
            <div class="col-auto">
                <img src="/static/team/3.png" alt="Logo 3">
            </div>
            <div class="col-auto">
              <img src="/static/team/4.png" alt="Logo 4">
            </div>
            <p class="text-center text-muted">August 2024</p>
        </div>
    </div>
  </footer>
{% endblock content %}