{% extends "layout.html" %}
{% block content %}

<style>
  div.item {
      vertical-align: top;
      display: inline-block;
      text-align: center;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .caption {
      display: block;
  }
  .footer {
      bottom: 0;
      width: 100%;
      padding-top: 50px;
  }

  .footer img {
      width: 100px; /* Adjust size as necessary */
      margin: 0 15px;
  }
</style>

  <div class="container mt-4">

    <div class="card text-dark bg-light shadow-lg bg-body rounded">
      <div class="card-header" id="cardHeader">
        GdbMTB
      </div>
      <div class="card-body row ml-2">
        <div class="col-md-9">
          <p>
          With the increasing research interets on magnetotactic bacteria diversity, the genome data of MTB continues to grow. 
          </p>
          <p>In order to promote data sharing and facilitate comprehensive analysis, we have established the 
          <span class="text-decoration-underline fw-bold">G</span>enomic <span class="text-decoration-underline fw-bold">d</span>ata<span class="text-decoration-underline fw-bold">b</span>ase of <span class="text-decoration-underline fw-bold">M</span>agneto<span class="text-decoration-underline fw-bold">t</span>actic <span class="text-decoration-underline fw-bold">B</span>acteria, <span class="fw-bold">GdbMTB</span>. 
          </p>
          <p>
          GdbMTB includes three parts: <span class="fw-bold">Core data</span>, <span class="fw-bold">Metadata</span>, and <span class="fw-bold">Technical support</span> (analysis tools and methods). 
          </p>
          <p>
          <span class="fw-bold">Core data</span> comprises all publicly reported MTB genomes along with their characteristic information, 
          including genome names, quality, taxonomic classifications, and magnetosome gene clusters (MGCs). 
          <br>
          <span class="fw-bold">Metadata</span> encompasses three components: Sampling metadata, providing sample environmental context; 
          Genome metadata, including accession numbers and submission details; Reference metadata, providing 
          publication associated details.
          <br>
          <span class="fw-bold">Technical support</span> offer curated tools and recommended workflow to support systematic investigations 
          into the phylogeny, ecology, biomineralization, and evolution of MTB.
          </p>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <img src="/static/brand/logo.png" alt="" style="height: 150px; width: auto;">
        </div>
      </div>
    </div>

    <div class="card text-dark bg-light shadow-lg bg-body rounded mt-4">
      <div class="card-header" id="cardHeader">
        Bio-Geomagnetism group
      </div>
      <div class="card-body">
        <div class="row" style="margin-left:20px">
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Ji.jpg" class="rounded-circle" alt="">
              <a class='caption' href="https://github.com/runjiaji"> Runjia Ji</a>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Wei.jpg" class="rounded-circle" alt="" >
              <a class='caption' href="https://orcid.org/0000-0003-4075-7414"> Wei Lin</a>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body item">
              <img src="/static/team/Pan.jpg" class="rounded-circle" alt="" >
              <a class='caption' href="https://igg.cas.cn/sourcedb_igg_cas/cn/zjrck/200907/t20090713_2065518.html">Yongxin Pan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="logo-container mt-40">
      <img src="/static/team/1.jpg" class="img-fluid" alt="...">
      <img src="/static/team/2.png" class="img-fluid" alt="...">
      <img src="/static/team/3.png" class="img-fluid" alt="...">
      <img src="/static/team/4.png" class="img-fluid" alt="...">
      <p class="text-center text-muted">August 2024</p>
  </div> -->

  <footer class="footer text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="/static/team/1.gif" alt="Logo 1">
            </div>
            <div class="col-auto">
                <img src="/static/team/2.png" alt="Logo 2">
            </div>
            <div class="col-auto">
                <img src="/static/team/3.png" alt="Logo 3">
            </div>
            <div class="col-auto">
              <img src="/static/team/4.png" alt="Logo 4">
            </div>
            <p class="text-center text-muted">August 2024</p>
        </div>
    </div>
  </footer>
{% endblock content %}