{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card text-dark bg-light shadow-lg bg-body rounded">
        <div class="card-header" id="cardHeader">
            {{ tableHeader | safe}}
        </div>
        <div class="card-body">
            {{ table | safe }}
        </div>
    </div>
</div>
<script>
    let table = new DataTable('#myTable', {scrollX: 1000,});
//     let search_lable = document.querySelector('#myTable_filter').querySelector('label')
//     let labletext = search_lable.innerHTML.replace('Search:', 'Filter:')
//     search_lable.innerHTML=labletext
</script>
{% endblock content %}