{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="card text-dark bg-light shadow-lg bg-body rounded">
            <div class="card-header" id="cardHeader">
                Data
            </div>
            <div class="card-body">
                <table class="table align-middle border rounded">
                    <thead class="table-dark">
                        <tr>
                            <td>
                                Source
                            </td>
                            <td>
                                Link
                            </td>
                            <td>
                                Size
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                MTB genomes
                            </td>
                            <td>
                                <a href="#">https://example.ip/MTBgenomes</a>
                            </td>
                            <td>
                                1.6 GB
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Miscellaneous data
                            </td>
                            <td>
                                <a href="#">https://example.ip/miscellaneous</a>
                            </td>
                            <td>
                                2 GB
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card text-dark bg-light shadow-lg bg-body rounded">
            <div class="card-header" id="cardHeader">
                Tools
            </div>
            <div class="card-body">
                <table class="table align-middle border rounded">
                    <thead class="table-dark">
                        <tr>
                            <td>
                                Source
                            </td>
                            <td>
                                Link
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                MagCluster
                            </td>
                            <td>
                                <a href="https://github.com/RunJiaJi/MagCluster">https://github.com/RunJiaJi/MagCluster</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}