{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="card text-dark bg-light shadow-lg bg-body rounded">
            <div class="card-header" id="cardHeader">
                Data
            </div>
            <div class="card-body">
                <table class="table align-middle border rounded">
                    <thead class="table-dark">
                        <tr>
                            <td>
                                Source
                            </td>
                            <td>
                                Zenodo
                            </td>
                            <!-- <td>
                                ScienceDB
                            </td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                GdbMTB data
                            </td>
                            <td>
                                <a href="https://doi.org/10.5281/zenodo.14876943" target="_blank">10.5281/zenodo.14876943</a>
                            </td>
                            <td>
                                <a href="https://doi.org/10.57760/sciencedb.21001" target="_blank">10.57760/sciencedb.21001</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card text-dark bg-light shadow-lg bg-body rounded mt-4">
            <div class="card-header" id="cardHeader">
                Tools
            </div>
            <div class="card-body">
                <table class="table align-middle border rounded">
                    <thead class="table-dark">
                        <tr>
                            <td>
                                Source
                            </td>
                            <td>
                                Link
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                MagCluster
                            </td>
                            <td>
                                <a href="https://github.com/RunJiaJi/MagCluster" target="_blank">https://github.com/RunJiaJi/MagCluster</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                pairwiseANIviz
                            </td>
                            <td>
                                <a href="https://github.com/RunJiaJi/pairwiseANIviz" target="_blank">https://github.com/RunJiaJi/pairwiseANIviz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="card text-dark bg-light shadow-lg bg-body rounded mt-4">
            <div class="card-header" id="cardHeader">
                Bioinformatics Analysis Pipeline
            </div>
            <div class="card-body">
                <!-- <iframe style="border:none" width="800" height="450" src="https://whimsical.com/embed/CWw2H3gZuggFyKytnjgQ7C"></iframe> -->
                <iframe 
                    src="/static/figure/Fig5.pdf" 
                    width="100%" 
                    height="600" 
                    style="border: none;">
                </iframe>
            </div>
        </div>
    </div>
{% endblock content %}