{% extends "layout.html" %}
{% block content %}

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<style>
  #chartdiv {
  width: 100%;
  height: 100%;
  max-width: 100%;
  }
</style>

<div class="container-fluid" style="height: 90vh;">
  <div class="d-flex flex-row justify-content-evenly align-items-center h-100">
    <div id="chartdiv" style="width: 50%;"></div>
    <div class="container mt-4 d-flex align-items-center justify-content-center " style="width: 50%; height: 100%; position: relative;">
      <div class="card text-black bg-light shadow-lg rounded p-2" style="height: 60%; width: 100%;">
        <div class="card-body d-flex flex-column justify-content-center">
          <!-- <img src="/static/figure/rect8364_.svg" class="img-fluid" alt="..."> -->
          <h4 class="text-center"><span class="text-decoration-underline">G</span>enomic <span class="text-decoration-underline">d</span>ata<span class="text-decoration-underline">b</span>ase of <span class="text-decoration-underline">M</span>agneto<span class="text-decoration-underline">t</span>actic <span class="text-decoration-underline">B</span>acteria</h4>
          <h3 class="text-center" style="font-weight: bold;">GdbMTB</h3>

        </div>
      </div>
    </div>    
               
    </div>
  </div>
</div>


<script>
/**
* ---------------------------------------
* This demo was created using amCharts 5.
* 
* For more information visit:
* https://www.amcharts.com/
* 
* Documentation is available at:
* https://www.amcharts.com/docs/v5/
* ---------------------------------------
*/

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
am5themes_Animated.new(root)
]);


// Create the map chart
// https://www.amcharts.com/docs/v5/charts/map-chart/
var chart = root.container.children.push(am5map.MapChart.new(root, {
panX: "rotateX",
panY: "none",
projection: am5map.geoOrthographic(),
paddingBottom: 20,
paddingTop: 20,
paddingLeft: 20,
paddingRight: 20
}));


// Create main polygon series for countries
// https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/
var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
geoJSON: am5geodata_worldLow
}));

polygonSeries.mapPolygons.template.setAll({
fill: am5.color(0x333333),
stroke: am5.color(0xffffff),
strokeWidth: 0.03,
});

// polygonSeries.mapPolygons.template.states.create("hover", {
//   fill: root.interfaceColors.get("primaryButtonHover")
// });


// Create series for background fill
// https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/#Background_polygon
var backgroundSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {}));
backgroundSeries.mapPolygons.template.setAll({
fill: root.interfaceColors.get("alternativeBackground"),
fillOpacity: 0.1,
strokeOpacity: 0,
});
backgroundSeries.data.push({
geometry: am5map.getGeoRectangle(90, 180, -90, -180)
});


// Create graticule series
// https://www.amcharts.com/docs/v5/charts/map-chart/graticule-series/
// var graticuleSeries = chart.series.push(am5map.GraticuleSeries.new(root, {}));
// graticuleSeries.mapLines.template.setAll({ strokeOpacity: 0.1, stroke: root.interfaceColors.get("alternativeBackground") })

// Create point series for markers
// https://www.amcharts.com/docs/v5/charts/map-chart/map-point-series/
var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {}));
var colorset = am5.ColorSet.new(root, {});

pointSeries.bullets.push(function() {
var container = am5.Container.new(root, {
  tooltipText: "{title}",
  cursorOverStyle: "pointer"
});

// This is code to add superlink onto the city.
// container.events.on("click", (e) => {
//   window.location.href = e.target.dataItem.dataContext.url;
// });



var circle = container.children.push(
  am5.Circle.new(root, {
    radius: 4,
    tooltipY: 0,
    fill: am5.color(0x9D0208),
    strokeOpacity: 0
  })
);


var circle2 = container.children.push(
  am5.Circle.new(root, {
    radius: 4,
    tooltipY: 0,
    fill: am5.color(0xD00000),
    strokeOpacity: 0,
    tooltipText: "{title}"
  })
);

circle.animate({
  key: "scale",
  from: 2,
  to: 4,
  duration: 1800,
  easing: am5.ease.out(am5.ease.cubic),
  loops: Infinity
});
circle.animate({
  key: "opacity",
  from: 0.3,
  to: 0.2,
  duration: 1800,
  easing: am5.ease.out(am5.ease.cubic),
  loops: Infinity
});

return am5.Bullet.new(root, {
  sprite: container
});
});

var cities = {{ cities | tojson }};

for (var i = 0; i < cities.length; i++) {
var city = cities[i];
addCity(city.longitude, city.latitude, city.title);
}

function addCity(longitude, latitude, title) {
pointSeries.data.push({
  geometry: { type: "Point", coordinates: [longitude, latitude] },
  title: title
});
}

// Rotate animation
chart.animate({
key: "rotationX",
from: 0,
to: 360,
duration: 30000,
loops: Infinity
});


// Make stuff animate on load
chart.appear(1000, 100);
</script>

{% endblock content %}