{% extends "layout.html" %}
{% block content %}
  <h1>MagClusterAAATools</h1>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <iframe width="100%" height=315 src="https://www.youtube.com/embed/4c_nbpHh1_4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
  </div>
{% endblock content %}